<footer>
    <div class="top-footer">
        <p>Omar Dembele .</p>
    </div>
    <div class="middle-footer">
        <ul class="footer-menu">
            <li class="footer-menu-list">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/about" class="nav-link">About</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/contact" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
    <div class="footer-social-icons">
        <div class="icon"> <i class="uil uil-instagram"></i> </div>
        <div class="icon"> <i class="uil uil-linkedin-alt"></i> </div>
        <div class="icon"> <i class="uil uil-dribbble"></i> </div>
        <div class="icon"> <i class="uil uil-github-alt"></i> </div>
    </div>
    <div class="bottom-footer">
        <p>Copyright &copy; <a href="" style="text-decoration: none;">Omar Dembele</a> - All rights reserved</p>
    </div>
</footer>