<footer>
    <div class="top-footer">
        <p>Omar Dembele .</p>
    </div>
    <div class="middle-footer">
        <ul class="footer-menu">
            <li class="footer-menu-list">
                <a routerLink="/" class="nav-link">Home</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/portfolio" class="nav-link">Portfolio</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/about" class="nav-link">About</a>
            </li>
            <li class="footer-menu-list">
                <a routerLink="/contact" class="nav-link">Contact</a>
            </li>
        </ul>
    </div>
    <div class="footer-social-icons">
        <div class="footer-social-icons">
            <a href="https://github.com/OmarDembele" target="_blank" class="icon">
                <i class="uil uil-github-alt icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/omar-dembele-418347198" target="_blank" class="icon">
                <i class="uil uil-linkedin-alt icon"></i>
            </a>
            <a href="https://twitter.com/ogbems00" target="_blank" class="icon">
                <i class="uil uil-twitter icon"></i>
            </a>
            
            <a href="https://www.instagram.com/votreprofil" target="_blank">
                <i class="uil uil-instagram icon"></i>
            </a>
        </div> 
    </div>
    <div class="bottom-footer">
        <p>Copyright &copy; <a href="" style="text-decoration: none;">Omar Dembele</a> - All rights reserved</p>
    </div>
</footer>