<div class="container">
    <!----------------------- FEATURED BOX -------------------->
    <section class="featured-box" id="home">
        <div class="featured-text">
            <div class="featured-text-card">
                <div>Omar Dembele</div>
            </div>
            <div class="featured-name">
                <h5>Je suis un <span class="typedText">Développeur Web et Mobile</span></h5>
            </div>
            <div class="featured-text-info">
                <p>Développeur frontend junior passionné par la création de sites web et mobiles 
                    attrayants et conviviaux. Curieux d'apprendre de nouvelles technologies, 
                    je suis motivé par l'innovation et l'amélioration de l'expérience utilisateur.
                </p>
            </div>
            <div class="featured-text-btn">
                <button class="btn blue-btn">Hire Me</button>
                <button class="btn" (click)="downloadCV()">Download CV <i class="uil uil-file-alt"></i> </button>
            </div>
            <div class="socials_icons">
                <div class="socials_icons">
                    <a href="https://github.com/OmarDembele" target="_blank" class="icon">
                        <i class="uil uil-github-alt icon"></i>
                    </a>
                    <a href="https://www.linkedin.com/in/omar-dembele-418347198" target="_blank" class="icon">
                        <i class="uil uil-linkedin-alt icon"></i>
                    </a>
                    <a href="https://twitter.com/ogbems00" target="_blank" class="icon">
                        <i class="uil uil-twitter icon"></i>
                    </a>
                    
                    <a href="https://www.instagram.com/votreprofil" target="_blank">
                        <i class="uil uil-instagram icon"></i>
                    </a>
                </div>                
            </div>
        </div>

        <div class="featured-image">
            <div class="image">
                <img src="assets/image/dev.jpeg" alt="Dev">
            </div>
        </div>
    </section>
    <!----------------------- ABOUT BOX -------------------->
    <section class="section" id="about">    
        <div class="top-header">
            <h1>A propos de moi</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>Mon introduction</h3>
                    <p>Développeur passionné et polyvalent, je possède une solide expérience en HTML, CSS, et JavaScript, ainsi que des compétences en Java et Python. J'ai travaillé sur plusieurs projets de création d'applications mobiles avec Flutter et Ionic, et j'ai également de l'expertise en développement web avec le framework Angular.

                        Titulaire d'une licence en Développement d'Applications Réparties, j'ai eu l'opportunité de mener à bien un projet de fin d'études portant sur l'étude et la mise en place d'une plateforme de gestion des dossiers des patients de la Clinique de l'Amitié. Ce projet m'a permis de combiner mes compétences en Angular pour 
                        le frontend et Spring Boot pour le backend, démontrant ainsi ma capacité à gérer des projets de bout en bout, depuis la conception jusqu’à la mise en production.
                    </p>
                    <div class="about-btn">
                        <button class="btn" (click)="downloadCV()">Download CV <i class="uil uil-import"></i></button>
                    </div>
                </div>
            </div>
            <div class="col1">
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Languague</H3>
                    </div>
                    <div class="skills-list">
                        <span>Javascript</span>
                        <span>Java</span>
                        <span>Dart</span>
                        <span>Typescript</span>
                        <span>Python</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Frontend</H3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>Angular</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Backend</H3>
                    </div>
                    <div class="skills-list">
                        <span>Spring Boot</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Mobile</H3>
                    </div>
                    <div class="skills-list">
                        <span>Flutter</span>
                        <span>Ionic</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Database</H3>
                    </div>
                    <div class="skills-list">
                        <span>MySql</span>
                        <span>PostgresSQL</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

    <!----------------------- PROJECT BOX -------------------->
    <section class="section" id="projects">
        <div class="top-header">
            <h1>Mes Projets</h1>
        </div>
        <div id="project-container1" class="project-card1">
            <!-- Card 1 -->
            <div class="card-box1">
                <img src="assets/image/tache.png" alt="Project Image" class="project-image">
                <span>Angular</span>
                <p>Gestionnaire de Tâches Personnalisé</p>
                <h4>Application conçue pour organiser, planifier et suivre l'avancement des tâches.</h4>
                
            </div>
            
            <!-- Card 2 -->
            <div class="card-box1">
                <img src="assets/image/produit.jpg" alt="Project Image" class="project-image">
                <span>Laravel</span>
                <p>Gestionnaire de Produits</p>
                <h4>Application dédiée à la gestion efficace des produits dans divers environnements commerciaux.</h4>
                
            </div>
            
            <!-- Card 3 -->
            <div class="card-box1">
                <img src="assets/image/livraison.png" alt="Project Image" class="project-image">
                <span>Java EE</span>
                <p>Système de Gestion des Ventes et de Livraison</p>
                <h4>Application conçue pour simplifier et optimiser le processus de vente et de distribution.</h4>
                
            </div>

            <!-- Card 4 -->
            <div class="card-box1">
                <img src="assets/image/scolarite.avif" alt="Project Image" class="project-image">
                <span>Java Swing</span>
                <p>Système de Gestion de Scolarité</p>
                <h4>Application dédiée à la gestion des informations académiques au sein des établissements d'enseignement.</h4>
                
            </div>

            <!-- Card 5 -->
            <div class="card-box1">
                <img src="assets/image/stock.jpg" alt="Project Image" class="project-image">
                <span>Java Swing</span>
                <p>Système de Gestion de Stock </p>
                <h4>Le projet "Système de Gestion de Stock" est une application conçue pour optimiser la gestion des inventaires dans divers types d'entreprises.</h4>
                
            </div>

            <!-- Card 6 -->
            <div class="card-box1">
                <img src="assets/image/calculatrice.jpg" alt="Project Image" class="project-image">
                <span>Java Swing</span>
                <p>Calculatrice</p>
                <h4>Le projet est une application simple et interactive qui permet aux utilisateurs de réaliser des calculs mathématiques de base.</h4>
                
            </div>

            <!-- Card 7 -->
            <div class="card-box1">
                <img src="assets/image/musique.webp" alt="Project Image" class="project-image">
                <span>Flutter</span>
                <p>Application mobile de lecture de musique</p>
                <h4>Le projet "Lecteur de Musique Web" est une application interactive qui permet aux utilisateurs d'écouter et de gérer leur musique en local.</h4>
                
            </div>

            <!-- Card 8 -->
            <div class="card-box1">
                <img src="assets/image/meteo.avif" alt="Project Image" class="project-image">
                <span>Flutter</span>
                <p>Application Mobile de Météo</p>
                <h4>Le projet "Application Mobile de Météo" est une application dédiée à fournir des prévisions météorologiques en temps réel aux utilisateurs.</h4>
                
            </div>

            <!-- Card 9 -->
            <div class="card-box1">
                <img src="assets/image/dossier.png" alt="Project Image" class="project-image">
                <span>Angular & Spring boot</span>
                <p>Mise en Œuvre d'une Plateforme de Gestion des Dossiers Patients</p>
                <h4>Application visant à développer une solution numérique pour la gestion efficace et sécurisée des dossiers médicaux des patients.</h4>
                
            </div>

            <!-- Card 10 -->
            <div class="card-box1">
                <img src="assets/image/eau.webp" alt="Project Image" class="project-image">
                <span>Ionic</span>
                <p>Système de Gestion pour les interventions des differentes techniciens de l'entreprise.</p>
                <h4>Solution intégrée destinée à optimiser la gestion des ventes, des livraisons, des recouvrements et des règlements pour des produits tels que les crèmes glacées.</h4>
                
            </div>

            <!-- Card 11 -->
            <div class="card-box1">
                <img src="assets/image/glace.jpg" alt="Project Image" class="project-image">
                <span>Flutter</span>
                <p>Système de Gestion pour la Vente, la Livraison, le Recouvrement et le Règlement des Produits</p>
                <h4>Une solution intégrée destinée à optimiser la gestion des ventes, des livraisons, des recouvrements et des règlements pour des produits tels que les crèmes glacées.</h4>
               
            </div>

            <!-- Card 12 -->
            <div class="card-box1">
                <img src="assets/image/carburants.jpg" alt="Project Image" class="project-image">
                <span>Flutter</span>
                <p>Système de Gestion des Achats de Carburant et de Bons d'Essence</p>
                <h4>Application conçue pour faciliter la gestion et le suivi des achats de carburant pour les flottes de véhicules ou les entreprises.</h4>
                
            </div>
        </div>
    </section>

    <!----------------------- Contact BOX -------------------->
    <section class="section" id="contact">
        <div class="top-header">
          <h1>Contactez moi</h1>
          <span>Avez-vous un projet en tête, contactez-moi ici</span>
        </div>
        <div class="row">
          <div class="col">
            <div class="contact-info">
              <h2>Trouvez moi <i class="uil uil-arrow-down"></i> </h2>
              <p><i class="uil uil-envelope"></i> Email: <a href="mailto:omardembele821@gmail.com">omardembele821&#64;gmail.com</a></p>
              <p><i class="uil uil-phone"></i> Tel: +221 77 773 56 24</p>
              <p><i class="uil uil-estate"></i> Dakar - Sénégal</p>
            </div>
          </div>
    
          <div class="col">
            <div class="form-control">
              <!-- Formulaire -->
              <div *ngIf="!isLoading" class="form-inputs">
                <input type="text" [(ngModel)]="name" class="input-field" placeholder="Name">
                <input type="text" [(ngModel)]="email" class="input-field" placeholder="Email">
              </div>
              <div *ngIf="!isLoading" class="text-area">
                <textarea [(ngModel)]="message" placeholder="Message"></textarea>
              </div>
              <div *ngIf="!isLoading" class="form-button">
                <button class="btn" (click)="sendEmail($event)">Send <i class="uil uil-message"></i></button>
              </div>
    
              <!-- Spinner de chargement -->
              <div *ngIf="isLoading" class="loading-spinner">
                <i class="uil uil-spinner-alt uil-spin"></i> Envoi en cours...
              </div>
            </div>
          </div>
        </div>
      </section>
</div>