<div class="container">
    <section class="section" id="contact">
      <div class="top-header">
        <h1>Contactez moi</h1>
        <span>Avez-vous un projet en tête, contactez-moi ici</span>
      </div>
      <div class="row">
        <div class="col">
          <div class="contact-info">
            <h2>Trouvez moi <i class="uil uil-arrow-down"></i> </h2>
            <p><i class="uil uil-envelope"></i> Email: <a href="mailto:omardembele821@gmail.com">omardembele821&#64;gmail.com</a></p>
            <p><i class="uil uil-phone"></i> Tel: +221 77 773 56 24</p>
            <p><i class="uil uil-estate"></i> Dakar - Sénégal</p>
          </div>
        </div>
  
        <div class="col">
          <div class="form-control">
            <!-- Formulaire -->
            <div *ngIf="!isLoading" class="form-inputs">
              <input type="text" [(ngModel)]="name" class="input-field" placeholder="Name">
              <input type="text" [(ngModel)]="email" class="input-field" placeholder="Email">
            </div>
            <div *ngIf="!isLoading" class="text-area">
              <textarea [(ngModel)]="message" placeholder="Message"></textarea>
            </div>
            <div *ngIf="!isLoading" class="form-button">
              <button class="btn" (click)="sendEmail($event)">Send <i class="uil uil-message"></i></button>
            </div>
  
            <!-- Spinner de chargement -->
            <div *ngIf="isLoading" class="loading-spinner">
              <i class="uil uil-spinner-alt uil-spin"></i> Envoi en cours...
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
  