<div class="container">

    <!----------------------- Contact BOX -------------------->
    <section class="section" id="contact">
        <div class="top-header">
            <h1>Contactez moi</h1>
            <span>Avez-vous un projet en tête, contactez-moi ici</span>
        </div>
        <div class="row">
            <div class="col">
                <div class="contact-info">
                    <h2>Trouvez moi <i class="uil uil-arrow-down"></i> </h2>
                    <p><i class="uil uil-envelope"></i> Email: <a href="mailto:omardembele821@gmail.com">omardembele821&#64;gmail.com</a></p>                      
                    <p> <i class="uil uil-phone"></i> Tel: +221 77 773 56 24</p>
                    <p> <i class="uil uil-estate"></i> Dakar - Sénégal</p>
                </div>
            </div>
            <div class="col">
                <div class="form-control">
                    <div class="form-inputs">
                        <input type="text" name="" id="" class="input-field" placeholder="Name">
                        <input type="text" name="" id="" class="input-field" placeholder="Email">
                    </div>
                    <div class="text-area">
                        <textarea placeholder="Message" ></textarea>
                    </div>
                    <div class="form-button">
                        <button class="btn">Send <i class="uil uil-message"></i> </button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>