/* -------- WRAPPER DESIGN -------- */
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    flex-direction: column;
    margin-left: 5%;
    margin-right: 5%;
}


/* -------- FEATURED BOX -------- */
.featured-box {
    margin-top: 4%;
    display: flex;               /* Aligne les enfants (texte et image) sur une même ligne */
    align-items: center;         /* Centre le contenu verticalement */
    justify-content: space-between; /* Ajoute de l'espace entre le texte et l'image */
    gap: 30px;
  }

  /* -------- FEATURED TEXT BOX -------- */
  
  .featured-text {
    width: 70%;
  }

.featured-text-card{
    width: 30%;
    background: var(--second-color);
    color: var(--color-white);
    padding: 2%;
    font-size: 10px;
    border-radius: 5px;
}

.featured-name{
    text-align: start;
    font-size: 40px;
    font-weight: 600;
    color: var(--text-color-second);
    margin: 0;
}

.typedText{
    text-transform: capitalize;
    color: var(--text-color-third);
}

p span{
    color: var(--text-color-third);
}

.featured-text-info{
    text-align: start;
    font-size: 15px;
    margin-bottom: 5%;
    color: var(--text-color-second);
}

.featured-text-btn {
    display: flex;
    gap: 20px;
}

.featured-text-btn>.blue-btn {
    background: var(--first-color);
    color: var(--color-white);
}

.featured-text-btn>.blue-btn:hover {
    background: var(--first-color-hover);
}

/*----------------FEATURED IMAGE BOX --------- */

  .featured-image .image img {
    width: 400px;                /* Ajustez la taille de l'image selon vos besoins */
    height: 400px;
    border-radius: 50%;          /* Rend l'image circulaire */
    object-fit: cover;           /* Ajuste l'image pour qu'elle remplisse le conteneur sans déformation */
  }

/* -------- GLOBAL BUTTON DESIGN -------- */

.btn {
    font-weight: 500;
    padding: 12px 20px;
    background: #efefef;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: .4s;
}

.btn>i{
    margin-left: 0%;
}

.btn:hover {
    background: var(--second-color);
    color: var(--color-white);   
}

i{
    font-size: 16px;
}


/*----------------- ABOUT BOX ----------------*/

h3{
    font-size: 20px;
    font-weight: 600;
    color: var(--text-color-second);
    margin-bottom: 2%;

}

.row{
    margin-top: 2%;
    display: flex;
    justify-content: space-between;
    width: 100%;
    gap: 50px;
}

.col{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 50%;
    margin-bottom: 2%;
}

/*---------- ABOUT INFO ------------------*/
.about-info {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-block: 30px 30px;
    padding-inline: 40px;
    background: var(--color-white); 
    box-shadow: 2px 8px 25px 2px var(--first-shadow-color);
    border-radius: 20px;
}

.about-info p{
    text-align: center;
    font-size: 15px;
}

.about-info h3{
    color: var(--second-color);
}

.about-info:hover{
    background: var(--second-color);
    h3{
        color: black;
    }
}


.about-btn{
    margin-top: 2%;
}

.about-btn button{
    position: absolute;
    right: 6%;
    bottom: 6%;
    background: var(--first-color);
    color: var(--color-white);
    border-radius: 20px;
}


.about-btn button:hover{
    background: var(--first-color-hover);
}

.row1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.col1{
    display: block;
    width: 65%;
}

.skills-box{
    margin: 0%;
}

.skills-header{
    margin-bottom: 10%;
}

.skills-list{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}

.skills-list span{
    font-size: 14px;
    background: var(--second-color);
    color: var(--color-white);
    padding: 2px 10px;
    border-radius: 5px;
}

li{
    list-style-type: disc;
    padding: 0.5em;
    text-align: center;
}



@media only screen and (min-width: 220px ) and (max-width: 600px ) {

    /* -------- WRAPPER DESIGN -------- */

    .container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    /* -------- FEATURED BOX -------- */
    .featured-box {
        margin-top: 4%;
        display: block;               /* Aligne les enfants (texte et image) sur une même ligne */
        align-items: center;         /* Centre le contenu verticalement */
        justify-content: center; /* Ajoute de l'espace entre le texte et l'image */
    }

    /* -------- FEATURED TEXT BOX -------- */
    
    .featured-text {
        width: 100%;
    }

    /*----------------FEATURED IMAGE BOX --------- */

  .featured-image .image img {
    width: 400px;                /* Ajustez la taille de l'image selon vos besoins */
    height: 400px;
    border-radius: 50%;          /* Rend l'image circulaire */
    object-fit: cover;           /* Ajuste l'image pour qu'elle remplisse le conteneur sans déformation */
  }

    /*----------------- CONTACT BOX ----------------*/
    
    .row{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
    }

    .col{
        margin-top: 5%;
        display: flex;
        width: 100%;
    }

    .skills-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

    .row1{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
    }
    
    .col1{
        margin-top: 5%;
        display: flex;
        width: 100%;
    }

}


@media only screen and (min-width: 601px ) and (max-width: 768px ) {

    /* -------- WRAPPER DESIGN -------- */

    .container {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
        margin-left: 3%;
        margin-right: 3%;
    }

    /* -------- FEATURED BOX -------- */
    .featured-box {
        margin-top: 4%;
        display: block;
        align-items: center;
        justify-content: center;
    }

    /* -------- FEATURED TEXT BOX -------- */
    
    .featured-text {
        width: 100%;
    }

    /*----------------FEATURED IMAGE BOX --------- */

  .featured-image .image img {
    width: 400px;                /* Ajustez la taille de l'image selon vos besoins */
    height: 400px;
    border-radius: 50%;          /* Rend l'image circulaire */
    object-fit: cover;           /* Ajuste l'image pour qu'elle remplisse le conteneur sans déformation */
  }

    /*----------------- CONTACT BOX ----------------*/
    
    .row{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
    }

    .col{
        margin-top: 5%;
        display: flex;
        width: 100%;
    }

    .row1{
        display: block;
        justify-content: center;
        align-items: center;
        width: 100%;
        gap: 50px;
    }
    
    .col1{
        margin-top: 5%;
        display: flex;
        width: 100%;
    }

    .skills-list{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5px;
    }

}
