<div class="container">

    <!----------------------- FEATURED BOX -------------------->
    <section id="home">
        <div class="featured-box">
            <div class="featured-text">
                <div class="featured-text-card">
                    <div>Présentation personnelle</div>
                </div>
                <div class="featured-name">
                    <h5>Je m'appelle <span class="typedText"> Omar DEMBELE,</span></h5>
                </div>
                <div class="featured-text-info">
                    <p>
                        titulaire d'une Licence Professionnelle en Développement d'Application Répartie. 
                        Fort de plus d'un an d'expérience en entreprise, je suis passionné par la création de 
                        solutions logicielles innovantes et efficaces. Mon objectif est de concevoir des applications qui facilitent la vie des utilisateurs en répondant à leurs besoins de manière intuitive et performante.
                    </p>
                </div>
            </div>
    
            <div class="featured-image">
                <div class="image">
                    <img src="assets/image/personne.jpg" alt="Dev">
                </div>
            </div>
        </div>
    </section>

    <!----------------------- ABOUT BOX -------------------->
    <section class="section" id="about">  
        <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>Expérience professionnelle</h3>
                    <p>Au cours de ma carrière, j'ai travaillé sur divers projets, tels que :</p>
                    <ul class="experience-list">
                        <li>Développement d'une application de vente, de livraison, de recouvrement et de règlement des produits de l'entreprise.</li>
                        <li>Développement d'une application de gestion des interventions visant à simplifier les interventions des différentes technicien.</li>
                        <li>Développement d'une plateforme de gestion des dossiers patients</li>
                        <li>Création d'une application de gestion de tâches</li>
                        <li>Mise en place d'un système de gestion des ventes et des livraisons</li>
                    </ul>
                </div>
            </div>
            
            <div class="col2">
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Languague</H3>
                    </div>
                    <div class="skills-list">
                        <span>Javascript</span>
                        <span>Java</span>
                        <span>Dart</span>
                        <span>Typescript</span>
                        <span>Python</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Frontend</H3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>Angular</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Backend</H3>
                    </div>
                    <div class="skills-list">
                        <span>Spring Boot</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Mobile</H3>
                    </div>
                    <div class="skills-list">
                        <span>Flutter</span>
                        <span>Ionic</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Database</H3>
                    </div>
                    <div class="skills-list">
                        <span>MySql</span>
                        <span>PostgresSQL</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Outils</H3>
                    </div>
                    <div class="skills-list">
                        <span>Git</span>
                        <span>Heroku</span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!----------------------- Valeur BOX -------------------->
    <section class="section" id="valeur">  
        <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>Philosophie de travail ou objectifs</h3>
                    <p>Je suis convaincu que la qualité du code 
                        et des performances sont essentielles pour 
                        réussir tout projet logiciel. J'applique régulièrement 
                        des principes tels que l'architecture propre (Clean Architecture) 
                        et le développement piloté par les tests (TDD). Mon approche est 
                        centrée sur la rigueur et l'amélioration continue, dans le but de livrer 
                        des applications fiables et maintenables.</p>
                </div>
            </div>
            
            <div class="col">
                <div class="about-info">
                    <h3>Valeurs et vision professionnelle</h3>
                    <p>Je crois fermement en l'importance de 
                        l'innovation, de l'intégrité et du travail 
                        d'équipe. Mon objectif est d'apporter des solutions
                         qui non seulement résolvent les problèmes actuels, 
                         mais qui préparent aussi à un avenir plus efficace 
                         et technologique. Pour moi, le développement logiciel 
                         n'est pas seulement une question de code, mais aussi de 
                         compréhension des besoins des utilisateurs et de création 
                         d'un impact réel.</p>
                </div>
            </div>
        </div>
    </section>

    <!----------------------- Valeur BOX -------------------->
    <section class="section" id="certificat">  
        <div class="row1">
            <div class="col1">
                <div class="about-info">
                    <h3>Formations continues et certifications</h3>
                    <p>Je me forme régulièrement à travers des plateformes comme Udemy pour rester à jour sur les dernières technologies et méthodes de développement. Voici quelques certifications récentes :</p>
                    <ul class="experience-list">
                        <li>Dart & Flutter - Zero to Master + Clean
                            Architechture ( Udemy) - 27 Juillet 2024
                        </li>
                        <li>
                            Flutter et l'architechture Bloc (Udemy) -
                            5 Aout 2024
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

</div>