<div class="container">
    <!----------------------- ABOUT BOX -------------------->
    <section class="section" id="about">    
        <div class="top-header">
            <h1>A propos de moi</h1>
        </div>
        <div class="row">
            <div class="col">
                <div class="about-info">
                    <h3>Mon introduction</h3>
                    <p>Développeur passionné et polyvalent, je possède une solide expérience en HTML, CSS, et JavaScript, ainsi que des compétences en Java et Python. J'ai travaillé sur plusieurs projets de création d'applications mobiles avec Flutter et Ionic, et j'ai également de l'expertise en développement web avec le framework Angular.

                        Titulaire d'une licence en Développement d'Applications Réparties, j'ai eu l'opportunité de mener à bien un projet de fin d'études portant sur l'étude et la mise en place d'une plateforme de gestion des dossiers des patients de la Clinique de l'Amitié. Ce projet m'a permis de combiner mes compétences en Angular pour 
                        le frontend et Spring Boot pour le backend, démontrant ainsi ma capacité à gérer des projets de bout en bout, depuis la conception jusqu’à la mise en production.
                    </p>
                    <div class="about-btn">
                        <button class="btn">Download CV <i class="uil uil-import"></i></button>
                    </div>
                </div>
            </div>
            
            <div class="col1">
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Languague</H3>
                    </div>
                    <div class="skills-list">
                        <span>Javascript</span>
                        <span>Java</span>
                        <span>Dart</span>
                        <span>Typescript</span>
                        <span>Python</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Frontend</H3>
                    </div>
                    <div class="skills-list">
                        <span>HTML</span>
                        <span>CSS</span>
                        <span>Bootstrap</span>
                        <span>Angular</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Backend</H3>
                    </div>
                    <div class="skills-list">
                        <span>Spring Boot</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Mobile</H3>
                    </div>
                    <div class="skills-list">
                        <span>Flutter</span>
                        <span>Ionic</span>
                    </div>
                </div>
                <div class="skills-box">
                    <div class="skills-head">
                        <H3>Database</H3>
                    </div>
                    <div class="skills-list">
                        <span>MySql</span>
                        <span>PostgresSQL</span>
                    </div>
                </div>
            </div>
        </div>

    </section>

</div>